/* Credit : Mughal.Dev */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.testimonial-container {
    width: 80%;
    /* border: 1px solid #fff; */
    padding: 40px 20px;
    height: 60%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    transition: 0.050s ease-in-out;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.testimonial-container:hover {
    border-color: #d4d4d4;
    box-shadow: 10px 5px 0px #fff;
}

.testimonial-container .left {
    width: 10vw;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 0px;
}

.testimonial-container .left h1 {
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    transform: rotateZ(90deg);
    letter-spacing: 2px;
}

.testimonial-container .loader {
    width: 3px;
    height: 100px;
    background: #9e9e9e;
}

.testimonial-container .loader .loading-bar {
    width: 100%;
    height: 50%;
    background: #fff;
    animation: loading 2s infinite;
}

.testimonial-container .right {
    width: 70vw;
    height: 100%;
    padding: 0px 40px;

}

.right .tag {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    /* box-shadow: 0px 0px 10px #fff; */
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right .tag .shape {
    width: 10px;
    height: 10px;
    background: lime;
    border-radius: 50%;
    box-shadow: 0px 0px 10px lime;
}

.client-msg {
    font-size: 3.2vw;
    text-align: left;
    padding: 40px 0;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.client-info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.client-loader {
    width: 70px;
    height: 3px;
    background: #9e9e9e;
}

.client-loader .client-loading-bar {
    width: 50%;
    height: 50%;
    background: #fff;
}

.client-name {
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.client-designation {
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    position: absolute;
    bottom: 45px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
}

.btn {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    border-color: transparent;
    background-color: #fff;
    color: #000;
}

.horizontel-line {
    width: 82%;
    height: 1px;
    background: #797979;
    position: absolute;
    bottom: 33%;
    right: 10px;
    opacity: 0.3;
}

.horizontel-line2 {
    width: 30%;
    height: 1px;
    background: #797979;
    position: absolute;
    top: 10%;
    right: 20%;
    opacity: 0.3;
}

.vertical-line {
    width: 1px;
    height: 82%;
    background: #797979;
    position: absolute;
    bottom: 10%;
    left: 15%;
    opacity: 0.3;
}

.vertical-line2 {
    width: 1px;
    height: 50%;
    background: #797979;
    position: absolute;
    bottom: 25%;
    right: 9%;
    opacity: 0.3;
}

.numbers {
    font-size: 25vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    position: absolute;
    opacity: 0.110;
    left: 10%;
    top: -10%;
}

/* .char{
    display: inline-block;
} */